<h1>Show Admin</h1>

<ul>

  <li>
    <strong>Last name:</strong>
    <%= @admin.last_name %>
  </li>

  <li>
    <strong>Health number:</strong>
    <%= @admin.health_number %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @admin.phone %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_path(@conn, :edit, @admin) %></span> |
<span><%= link "Back", to: Routes.admin_path(@conn, :index) %></span>
